div.app.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  top: 64px;
  position: absolute;
  width: 100%;
}
@media (max-width: 768px) {
  .app.list-group {
    margin-top: 68px; /* size of search field content */
  }
}

@media (min-width: 768px) {
  div.app.row {
    margin-top: 40px;
  }
}

.list-group {
  padding-right: 0 !important;
}

.list-group-item {
  padding: 30px !important;
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

a.list-group-item:hover,
a.list-group-item:focus {
  transition: all 0.2s ease;
  color: #fff !important;
  background-color: var(--martian-dark) !important;
}

p.mb-1.list-item-content {
  padding: 20px 0;
}

h5.list-item-header {
  color: var(--martian-red);
}

small.list-item-footer {
  color: var(--martian-red);
}

small.list-item-footer span.username {
  float: right;
}
