.comments.list-group.hidden {
  height: 0;
  /* transition: height 0.3s; */
  transition: all 0.2s ease-out;
}

.comments.list-group {
  height: fit-content;
  /* transition: height 0.3s; */
  transition: all 0.2s ease-in;
}

.comments div.list-group-item {
  padding: 10px 10px 10px 60px !important;
}

.comments div.list-group-item,
.comments div.list-group-item p {
  background-color: var(--martian-lightgray);
}

.comments div.list-group-item:first-child,
.comments div.list-group-item:last-child {
  border-radius: 0 !important;
}

.comments div.list-group-item:last-child {
  border-bottom: none !important;
}

.comments div.list-group-item:hover {
  z-index: 0;
}

.comment h6.list-item-header {
  color: var(--martian-dark);
  font-weight: 600;
  margin-bottom: 0 !important;
}

.comment p.list-item-content {
  color: var(--martian-dark);
}

.comment small {
  color: var(--martian-red);
}

small.list-item-footer.toggler {
  float: left;
  z-index: 10;
  margin-left: 30px;
  margin-top: -49px !important;
  width: fit-content;
  margin-bottom: 30px;
  user-select: none;
}

small.list-item-footer.toggler a {
  cursor: pointer;
}
small.list-item-footer.toggler a:hover {
  border-bottom: 1px solid var(--martian-red);
}

.fa {
  font-size: 10px;
}

.comments div.list-group-item p {
  padding-top: 5px;
  padding-bottom: 0;
}
