@import url("Loader.css");
/** INPUT OVERRIDE **/

input,
.form-control {
  background-color: #fff !important;
  border-radius: 2px;
  transition: all 0.2s ease;
}

input:focus,
.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: var(--martian-red);
}

input:focus + .input-label,
.form-control:focus + .input-label {
  color: var(--martian-red) !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0 30px white inset;
}

/** BUTTONS OVERRIDE **/

.col.s12 > .btn {
  width: 100%;
}

.btn {
  border-radius: 2px;
}

.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active {
  background-color: var(--martian-red) !important;
  border-color: var(--martian-red) !important;
  box-shadow: none !important;
}

.btn.btn-primary:hover,
.btn.btn-primary:active {
  opacity: 0.8;
}

.btn-outline-primary {
  color: var(--martian-red);
  background-color: transparent;
  border-color: var(--martian-red) !important;
  box-shadow: none !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  color: #fff;
  background-color: var(--martian-red) !important;
  border-color: var(--martian-red) !important;
}

/** TEXT SELECTION OVERRIDE **/

::-moz-selection {
  color: #fff;
  background: var(--martian-red);
}

::selection {
  color: #fff;
  background: var(--martian-red);
}

/** LINK OVERRIDE **/
a,
a:hover {
  color: var(--martian-red);
}

/** NAVBAR OVERRIDE **/

nav.bg-light {
  background-color: var(--martian-lightgray) !important;
  box-shadow: 0 1px 3px var(--martian-darkgray),
    0 1px 2px var(--martian-darkgray);
}

a.navbar-brand {
  color: var(--martian-red) !important;
}

a.disabled {
  pointer-events: none !important;
  text-decoration: none;
}

span.navbar-text {
  color: var(--martian-dark) !important;
}

/** BREADCRUMBS OVERRIDE **/

.breadcrumb {
  margin: 0 !important;
  background-color: transparent;
}

/** CUSTOM CSS **/

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--martian-gray);
}

.hidden {
  display: none;
}
