@import url("ColorPalette.css");

.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--martian-dark);
}

.login form {
  width: 300px;
  background-color: var(--martian-lightgray);
  padding: 20px;
  border-radius: 2px;
}

.login h3 {
  color: var(--martian-red);
  margin-bottom: 30px;
  text-align: center;
}

.login form button {
  text-transform: uppercase;
}
