.not-found {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.not-found h1 {
  color: var(--martian-red);
}

.not-found h2,
.not-found h4 {
  text-transform: initial;
  color: var(--martian-dark) !important;
}

.not-found a {
  color: var(--martian-red) !important;
}

.not-found a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}
