.notification-wrapper {
  width: 100%;
  position: absolute !important;
  top: 5px;
  display: flex;
  justify-content: center;
}

.notification {
  position: absolute !important;
  top: 5px;
  max-width: 500px;
}

.notification-enter {
  opacity: 0.01;
}

.notification-enter.notification-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.notification-leave {
  opacity: 1;
}

.notification-leave.notification-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.notification button.close {
  margin-left: 5px;
}

.notification button.close:focus,
.notification button.close span:focus {
  box-shadow: none !important;
  outline: none;
}
