.search-field-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  background-color: var(--martian-lightgray);
  z-index: 1030;
  box-shadow: 0 0 0 var(--martian-lightgray), 0 3px 2px var(--martian-darkgray);
}

.search-field {
  width: 100%;
  padding: 10px 15px 20px;
}

.search-field input {
  width: 100%;
  padding-left: 25px;
}

@media (min-width: 768px) {
  .search-field-wrapper {
    width: calc(100% - 90px);
    top: 0 !important;
    margin-top: 14px;
    box-shadow: none;
    background-color: transparent;
  }

  .search-field {
    max-width: 200px;
    margin-left: 90px;
    padding: 0;
  }

  .search-field input {
    max-width: 200px;
    padding-left: 25px;
  }
}

.search-field div.input-group span {
  position: absolute;
  margin-left: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  z-index: 1031;
  color: var(--martian-darkgray);
}

.search-field div.input-group input:focus + span {
  color: var(--martian-red) !important;
}

.search-field div.input-group span i {
  font-size: 18px;
}
